<div class="row text-xs-center">
  <div class="col-xs">
    <h1>{{ site.data.news.heading.[page.lang] | escape }}</h1>
  </div>
</div>

{% assign news = site.data.news.news | sort:"date" %}
{% for t in news reversed %}
<div class="row{% if t != news.last %} mt-0{% endif %}">

  <div class="col-md-3 text-md-right">
    {{ t.date | date : "%x" }}
  </div>

  <div class="col-md-9">
    <h5>{{ t.title | escape }}</h5>
    <p><span class="text-muted">{{ t.abstract | escape }}
    {% if t.downloads %} |
    {% for download in t.downloads %}
      <a href="{{ download.href }}">{{ download.desc | escape }}</a>{% if download != t.downloads.last %}, {% endif %}{% endfor %}
    {% endif %}</span></p>
  </div>

</div>
{% endfor %}
